In [ ]:
import pandas as pd
from pyspark import SparkContext

import os
import sys
import re

from pyspark import SparkContext, SparkConf

from pyspark.sql.types import *
from pyspark.sql import Row
import pyspark.sql.functions as func

In [3]:

spark_home = os.environ.get('SPARK_HOME', None)
sys.path.insert(0, spark_home + "/python")

# Add the py4j to the path
sys.path.insert(0, os.path.join(spark_home, 'python/lib/py4j-0.8.2.1-src.zip'))

# Initialize PySpark to predefine the SparkContext variable 'sc'
#execfile(os.path.join(spark_home, 'python/pyspark/shell.py'))

In [4]:
sc

In [20]:

help(sqlCtx.table)

Help on method table in module pyspark.sql.context:

table(self, tableName) method of pyspark.sql.context.HiveContext instance
    Returns the specified table as a L{DataFrame}.

    >>> sqlCtx.registerDataFrameAsTable(df, "table1")
    >>> df2 = sqlCtx.table("table1")
    >>> sorted(df.collect()) == sorted(df2.collect())
    True

In [19]:
sqlCtx.tableNames("pg")

[u'stockprices', u'tweets']

In [21]:
df = sqlCtx.table("pg.tweets")

In [22]:
type(df)

pyspark.sql.dataframe.DataFrame

In [23]:
df.columns

[u'tweetid',
 u'date',
 u'location',
 u'latitude',
 u'language',
 u'hashtags',
 u'text',
 u'hashedusername',
 u'hasheduserscreenname',
 u'userlanguage',
 u'userlcatin',
 u'userdescriptin',
 u'numberffllwers',
 u'numberfretweets']

In [24]:
df.printSchema()

root
 |-- tweetid: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- location: string (nullable = true)
 |-- latitude: float (nullable = true)
 |-- language: string (nullable = true)
 |-- hashtags: string (nullable = true)
 |-- text: string (nullable = true)
 |-- hashedusername: string (nullable = true)
 |-- hasheduserscreenname: string (nullable = true)
 |-- userlanguage: string (nullable = true)
 |-- userlcatin: string (nullable = true)
 |-- userdescriptin: string (nullable = true)
 |-- numberffllwers: string (nullable = true)
 |-- numberfretweets: string (nullable = true)

In [25]:
df.head()

Row(tweetid=-1854715618, date=None, location=u'', latitude=None, language=u'', hashtags=u'el', text=u'Olay Total Effects', hashedusername=u'\u0391\u03bd\u03c4\u03b9\u03b3\u03b7\u03c1\u03b1\u03bd\u03c4\u03b9\u03ba\u03ae \u039b\u03bf\u03c3\u03b9\u03cc\u03bd OLAY! 1+1 \u03b4\u03ce\u03c1\u03bf! #Olay #Total #Effects https://t.co/qHGogsiO7A', hasheduserscreenname=u'-2017603935', userlanguage=u'-1559551197', userlcatin=u'el', userdescriptin=u'', numberffllwers=u'', numberfretweets=u'4')